# Dependencies
node_modules/

# TypeScript Build Output
dist/
*.tsbuildinfo

# Coverage report
coverage/

# Environment variables (Secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE / Editors
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
Thumbs.db
