# Dependencies
node_modules/

# TypeScript Build Output
dist/
*.tsbuildinfo

# Docs temp folder
dist-docs/*

# Coverage report
coverage/

# Temp test files
tests/tmp

# npm pack target
out/

# Environment variables (Secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vault*


# IDE / Editors
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
Thumbs.db

# TODO.md
TODO.md

# scratch pad
scratchpad/**
